<h2 align="center">Tour {{ turnCounter }} sur {{ numberOfTurns }}</h2>
<br />
<p>Dernier coup de l'adversaire : {{ opponentsLastTurn }}</p>
<p>Votre score : {{ playerScore }}</p>

<hr />

<br />
<h2 align="center">Décision</h2>
<br />
<div class="wrapper">
  <button
    mat-raised-button
    [disabled]="!areDecisionButtonsEnabled"
    (click)="selectedDecision = 'COOPERER'; playTurn()"
    class="center"
  >
    Coopérer
  </button>
  &nbsp;
  <button
    mat-raised-button
    [disabled]="!areDecisionButtonsEnabled"
    (click)="selectedDecision = 'TRAHIR'; playTurn()"
    class="center"
  >
    Trahir
  </button>
  <br />
  <button mat-button (click)="openDialog()" class="center">Arrêter de jouer</button>
</div>

<div (window:beforeunload)="disconnectPlayer()"></div>
