h1 {
  font-weight: 900;
  position: relative;
  font-size: 40px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.topbar {
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 160px;
  display: flex;
  justify-content: center;
}
