h1 {
  font-weight: 900;
  position: relative;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
  color: white;
  margin: 0px !important;
}

.topbar {
  overflow: hidden;
  background-color: #0c274b;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.mat-typography h1 {
  font: inherit;
}

.center {
  margin: auto;
  text-align: center;
}
