<h2>Règles du dilemme du prisonnier</h2>
Le dilemme du prisonnier se joue à deux joueurs.
<br />
<br />
CRÉATION D'UNE PARTIE :
<br />
<ul>
  <li>Les deux joueurs saisissent leur nom.</li>
  <li>Le joueur 1 crée une partie :</li>
  <li>-Il renseigne alors le nombre de tours que doit comporter la partie et la crée.</li>
  <li>-La partie créée contient un identifiant que devra renseigner le joueur 2.</li>
  <li>Le joueur 2 rejoint une partie :</li>
  <li>-Il doit sélectionner l'identifiant de la partie qu'a créé le joueur 1.</li>
</ul>
<br />
JOUER AU JEU :
<br />
<ul>
  <li>À chaque tour, le joueur choisi s'il souhaite coopérer ou trahir son adversaire.</li>
  <li>Selon ce qu'a choisi l'adversaire, le joueur empoche un certain nombre de points :</li>
  <li>-Le joueur a coopéré et l'adversaire aussi : 3 points chacuns.</li>
  <li>-Le joueur a trahi et l'adversaire aussi : 1 point chacuns.</li>
  <li>-Le joueur a coopéré et l'adversaire a trahi : 0 point pour le joueur et 5 pour l'adversaire.</li>
  <li>-Le joueur a trahi et l'adversaire a coopéré : 5 point pour le joueur et 0 pour l'adversaire.</li>
  <li>À la fin du tour, le joueur est informé du coup qu'a décidé de faire l'adversaire.</li>
</ul>
<br />
ARRÊTER DE JOUER :
<br />
<ul>
  <li>Un joueur peut, quand il le souhaite, arrêter de jouer.</li>
  <li>
    Dans ce cas, il doit sélectionner une stratégie que devra adopter l'ordinateur pour jouer à sa place, et il sera
    rédirigé vers le menu principal.
  </li>
</ul>
<br />
FIN DE LA PARTIE :
<br />
<ul>
  <li>À la fin de la partie, les deux joueurs se voient afficher les résultats de la partie.</li>
</ul>
<button mat-raised-button routerLink="/home" class="center">Menu principal</button>
