@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html,
body {
  height: 88vh;
  background: url(./assets/background.png);
  background-size: 100% 100%;
  color: black;
}
body {
  margin: 0;
}

* {
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}
