@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html,
body {
  height: 100%;

  background-color: #696969;
  color: white;
  font-family: 'Comfortaa', sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
